fastapi
uvicorn
gunicorn
pillow
numpy
opencv-python
tensorflow==2.20.0
keras==3.11.3
sqlalchemy
pymysql
python-multipart
pydantic[email]

passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]

google-auth